
<%- include ('../partials/header') %>


 <!--Main Content-->
 <main class="container">
   <div class="row">
    <div class="col-md-offset-3 col-md-6">
        <h1><%= title %></h1>

        <% if(typeof displayName == 'string' && displayName) { %>            
        <a href="/book-list/add" class="btn btn-primary" role="button">
        <i class="fas fa-plus-circle"></i> Add a Book </a>
        <% } %>
        <br>
        <table class="table table-bordered table-striped table-hover">
            <!-- header row -->
            <tr>
                <th class="text-center col-2">Name</th>
                <th class="text-center col-2">Author</th>
                <th class="text-center col-1">Published</th>
                <th class="col-6">Description</th>
                <th class="text-center col-1">Price</th>
                <% if(typeof displayName == 'string' && displayName) { %>   
                    <th class="text-center col-1"></th>
                    <th class="text-center col-1"></th>
                <% } %>
            </tr>

            <!-- repeatable template row -->
            <% for(let count = 0; count < BookList.length; count++) {%>
                <tr>
                    <td class="text=center col-2"><%= BookList[count].name %></td>
                    <td class="text=center col-2"><%= BookList[count].author %></td>
                    <td class="text=center col-1"><%= BookList[count].published %></td>
                    <td class="col-4"><%= BookList[count].description %></td>
                    <td class="text=center col-1"><%= BookList[count].price %></td>
                    <% if(typeof displayName == 'string' && displayName) { %>   

                    <td class="text-center col-1">
                        <a href="/book-list/edit/<%= BookList[count]._id %>" class="btn btn-primary " >
                        <i class="fas fa-pencil alt"></i> Edit </a>
                    </td>
                    <td class="text-center col-1">
                        <a href="/book-list/delete/<%= BookList[count]._id %>" class="btn btn-danger" >
                        <i class="fas fa-trash-alt"></i>Delete</a>
                    </td>
                    <% } %>
                </tr>
            <% } %>
        </table>
    </div>
   </div>
 </main>
<%- include ('../partials/footer') %>